syntax: glob

dist
build
doc/_build

.coverage

.installed.cfg
*.egg-info
*.swp
*.pyc
*.pyo
*\#
*.\#*
*~
*.orig
*,cover

parts/
bin/
etc/
venv/
develop-eggs/
htmlcov/
lcov.info

test
test.pdf
test_doc_output

gmon.out
.idea
coverage.lcov
