language: python
dist: xenial
sudo: true
addons:
    postgresql: "9.6"

python:
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.7-dev"
    - "3.8-dev"
    - "nightly"

env:
    global:
        - ANYBLOK_DATABASE_NAME=travis_ci_test
    matrix:
        - ANYBLOK_DATABASE_DRIVER=postgresql ANYBLOK_DATABASE_USER=postgres SQLSERVER='psql -c'
        - ANYBLOK_DATABASE_DRIVER=mysql ANYBLOK_DATABASE_USER=travis SQLSERVER='mysql -e'

matrix:
    allow_failures:
      - python: "3.7-dev"
      - python: "3.8-dev"
      - python: "nightly"
      - python: "pypy3.5"
    include:
      - python: "pypy3.5"
        env: ANYBLOK_DATABASE_DRIVER=postgresql+psycopg2cffi ANYBLOK_DATABASE_USER=postgres SQLSERVER='psql -c'
    exclude:
      - python: "3.5"
        env: ANYBLOK_DATABASE_DRIVER=mysql ANYBLOK_DATABASE_USER=travis SQLSERVER='mysql -e'

virtualenv:
  system_site_packages: false

services:
  - postgresql
  - mysql

before_install:
  - sudo apt-get update
  - sudo apt-get install graphviz

install:
  - pip install -U pip
  - pip install wheel
  - if [[ $TRAVIS_PYTHON_VERSION == 'pypy3.5' ]]; then pip install psycopg2cffi; else pip install psycopg2-binary; fi
  - if [[ $SQLPYCLIENT == 'pymssql' ]]; then pip install 'pymssql<3.0';
  - pip install sqlalchemy mysqlclient
  - pip install -U flake8 coverage pytest pytest-cov
  - pip install colour passlib furl phonenumbers pycountry  # special columns
  - pip install coveralls
  - pip install -U cryptography
  - pip install -U coveralls
  - pip install .

script:
  - flake8 anyblok --exclude=*/tests/*
  - python3 update_env.py
  - $SQLSERVER 'create database travis_ci_test;'
  - if [[ $TRAVIS_PYTHON_VERSION != 'pypy3.5' ]]; then py.test --cov-report= --cov=anyblok anyblok/tests; fi
  - $SQLSERVER 'drop database travis_ci_test;'
  - anyblok_createdb --install-all-bloks
  - py.test --cov-report= --cov=anyblok anyblok/bloks
  
after_success:
  coveralls --data_file=.coverage --config_file=.coveragerc
