language: python
dist: xenial
sudo: true
addons:
    postgresql: "9.6"

python:
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.7-dev"
    - "3.8-dev"
    - "nightly"

env:
    global:
        - ANYBLOK_DATABASE_NAME=travis_ci_test
    matrix:
        - ANYBLOK_DATABASE_DRIVER=postgresql ANYBLOK_DATABASE_USER=postgres SQLSERVER='psql -c' SQLPYCLIENT='psycopg2-binary'
        - ANYBLOK_DATABASE_DRIVER=mysql ANYBLOK_DATABASE_USER=travis SQLSERVER='mysql -e' SQLPYCLIENT='mysqlclient'
        - |-
          ANYBLOK_DATABASE_HOST=localhost \
          ANYBLOK_DATABASE_PORT=1433 \
          ANYBLOK_DATABASE_DRIVER=mssql+pymssql \
          ANYBLOK_DATABASE_USER=sa \
          ANYBLOK_DATABASE_PASSWORD=AnyBl@k2019 \
          SQLSERVER='docker exec mssql /opt/mssql-tools/bin/sqlcmd -U sa -P AnyBl@k2019 -Q'
          SQLPYCLIENT='pymssql'

matrix:
    allow_failures:
      - python: "3.7-dev"
      - python: "3.8-dev"
      - python: "nightly"
      - python: "pypy3.5"
    include:
      - python: "pypy3.5"
        env: ANYBLOK_DATABASE_DRIVER=postgresql+psycopg2cffi ANYBLOK_DATABASE_USER=postgres SQLSERVER='psql -c' SQLPYCLIENT='psycopg2cffi'
    exclude:
      - python: "3.5"
        env: ANYBLOK_DATABASE_DRIVER=mysql ANYBLOK_DATABASE_USER=travis SQLSERVER='mysql -e' SQLPYCLIENT='mysqlclient'

virtualenv:
  system_site_packages: false

services:
  - postgresql
  - mysql
  - docker

before_install:
  - sudo apt-get update
  - sudo apt-get install graphviz
  - if [[ $ANYBLOK_DATABASE_DRIVER == 'mssql+pymssql' ]]; then docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=AnyBl@k2019' -p 1433:1433 -d --name mssql mcr.microsoft.com/mssql/server; fi

install:
  - pip install -U pip
  - pip install git+https://github.com/jssuzanne/sqlalchemy-utils.git@mssql_and_pymssql#egg=sqlalchemy_utils
  - pip install wheel
  - pip install sqlalchemy $SQLPYCLIENT
  - pip install -U flake8 coverage pytest pytest-cov
  - pip install colour passlib furl phonenumbers pycountry  # special columns
  - pip install coveralls
  - pip install -U cryptography
  - pip install -U coveralls
  - pip install .

env:
  - TESTS_DIR=anyblok/tests
  - TESTS_DIR=anyblok_bloks

script:
  - flake8 anyblok --exclude=*/tests/*
  - python3 update_env.py
  - if [[ $TESTS_DIR == 'anyblok/tests' ]]; then $SQLSERVER 'create database travis_ci_test;'; fi
  - if [[ $TESTS_DIR == 'anyblok/tests' && $TRAVIS_PYTHON_VERSION != 'pypy3.5' ]]; then py.test --cov-report= --cov=anyblok anyblok/tests; fi
  - if [[ $TESTS_DIR == 'anyblok/tests' ]]; then $SQLSERVER 'drop database travis_ci_test;'; fi
  - if [[ $TESTS_DIR == 'anyblok/bloks' ]]; then anyblok_createdb --install-all-bloks; fi
  - if [[ $TESTS_DIR == 'anyblok/bloks' ]]; then py.test --cov-report= --cov=anyblok anyblok/bloks; fi
  
after_success:
  coveralls --data_file=.coverage --config_file=.coveragerc
